<nz-table
  *ngIf="coberturas.length > 0"
  #basicTable
  [nzData]="coberturas"
  [nzShowPagination]="false"
  [nzFrontPagination]="false"
  nzBordered
  class="coberturas-table table-scroll"
>
  <thead>
    <tr>
      <th></th>
      <th *ngFor="let cobertura of basicTable.data">
        {{ cobertura.nombre }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let beneficio of beneficios">
      <td>{{ beneficio.nombre }}</td>
      <td *ngFor="let cobertura of basicTable.data" class="centered">
        <span
          *ngIf="
            coberturaPoseeBeneficio(cobertura, beneficio);
            else noBeneficio
          "
          nz-icon
          nzType="check-circle"
          nzTheme="outline"
          class="has-beneficio"
        ></span>

        <ng-template #noBeneficio>
          <span class="no-beneficio">-</span>
        </ng-template>
      </td>
    </tr>
    <tr>
      <td></td>
      <td *ngFor="let cobertura of basicTable.data" class="centered price">
        {{ cobertura.precio | currency }}
      </td>
    </tr>
    <tr>
      <td class="action"></td>
      <td *ngFor="let cobertura of basicTable.data" class="centered action">
        <button nz-button nzType="primary" (click)="selectCobertura(cobertura)">
          Seleccionar
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
