.coberturas-table {
  padding-top: 3rem;

  .ant-table-content {
    overflow: scroll;
  }
  
  th {
    text-align: center;
    vertical-align: middle;
  }

  td {
    vertical-align: middle;

    &.centered {
      text-align: center;
    }

    &.price {
      font-weight: 500;
    }

    &.action {
      background-color: #fafafa;
    }

    .has-beneficio {
      color: green;
      font-size: 1.1rem;
    }

    .no-beneficio {
      color: grey;
    }
  }
}
