<h1>Cotizar Vehiculos</h1>

<nz-steps [nzCurrent]="stepIndex">
  <nz-step nzTitle="Vehículo" nzIcon="car"></nz-step>
  <nz-step nzTitle="Coberturas" nzIcon="safety"></nz-step>
  <nz-step nzTitle="Asegurado" nzIcon="user"></nz-step>
</nz-steps>

<ng-container [ngSwitch]="stepIndex">
  <app-form-vehiculo
    *ngSwitchCase="0"
    (filledEvent)="cotizarCoberturas($event)"
  ></app-form-vehiculo>

  <app-table-coberturas
    *ngSwitchCase="1"
    [coberturas]="coberturasAndBeneficios.coberturas"
    [beneficios]="coberturasAndBeneficios.beneficios"
    (selectCoberturaEvent)="selectCobertura($event)"
  ></app-table-coberturas>
</ng-container>

